h1, p {
    font-family: Lato;
  }
  body{
    overflow: hidden;
    top:0;
    left:0;
    margin:0;
    position:fixed; 
  }
  
  .wrapper{
    width:100%;
    height:100%;
    position:fixed;
  }
  
  .show-video{
    margin-top:10px;
    margin-left:10px;
    width:100px;
    height:30px;
    border: 1px solid tomato;
    background-color:transparent;
  }
  
  .show-video:hover{
    background-color: lightpink;
  }
  
  .container{
    top: 0;
    left: 0;
    position:relative;
    background-color: grey;
    margin: 0;
    padding: 0;
    width:100vw;
    height:100vh;
  }
  
  @media only screen and (max-width: 500px) {
     .video-container{
        margin-top:20%;
        background-color:black;
        position:absolute;
        z-index:2;
        width:100%;
        height:40%;
    }
  }
  
  
  @media only screen and (min-width: 501px) {
      .video-container{
        background-color:black;
        position:absolute;
        width:50%;
        height:40%;
        margin: 10% 30%;
      }
    }
  
  .close-btn{
    font-size: 30px;
    position:absolute;
    left:5px;
    top: 5px;
    cursor: pointer;
  }
  
  .video-scroll-list{
    list-style-type: none;
    display:flex;
    margin:10px;
    overflow-x: scroll;
  }
  
  .video-scroll-list-bottom{
    margin-top:60vh;
    position:absolute;
    z-index:2;
    width:100%;
  }
  
  .videos{
    flex:1;
    margin:30px 5px 0px 5px;
    position: relative;
    display: inline-block;
  }
  
  .videos:before{
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      content: "\f01d";
      font-family: FontAwesome;
      font-size: 50px;
      color: #fff;
      opacity: .8;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  .videos:hover:before{
    color:#eee;
  }
  
  .active{
    border:1px solid white;
  }
  
  .overlay-video{
    width:100%;
    height:100%;
    position:relative;
    opacity:1;
    z-index:2;
    background-color: lightgrey;
  }
  